* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: max-content;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: center;
}
.text-header h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #776e65;
  font-size: 4.5rem;
  margin: 0.5rem auto;
}

.text-header p {
  color: #a16e65;
  font-size: 1.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-header span {
  font-weight: 800;
}

.score {
  display: flex;
  justify-content: space-between;
}

.score p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

.col {
  color: #fff;
  border-radius: 10px;
  margin: 0.5rem;
  padding: 0.5rem;
  text-align: center;
  background-color: #bbada0;
}

.col-2 {
  padding: 0.5rem 1.5rem;
}

.table button {
  margin: 2rem auto 0 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #8f7a66;
}
.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  border: none;
  margin-top: 0.5rem;
}
.main-box {
  position: relative;
  margin: 3rem auto;
  width: max-content;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: #bbada0;
}

.box {
  display: flex;
}

.column {
  font-weight: 800;
  color: #fff;
  font-size: 3.5rem;
  background-color: #cdc1b4;
  margin: 5px;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100px;
  display: flex;
  padding: 1rem;
}

.game-over {
  transition: all ease 5s;
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(204, 180, 180, 0.828);
}

.game-over h2 {
  color: rgb(100, 67, 67);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.5rem;
  margin: 10rem auto 2rem auto;
}

.game-over button {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 10px;
  background-color: #8f7a67;
}

.footer {
  text-align: start;
  padding: 1rem;
  margin: 1rem auto;
  width: 500px;
}

.footer h1 {
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
  line-height: 35px;
  color: #776e65;
}

.footer h1 span {
  font-weight: 800;
}
